.admin-panel {
  padding: 20px;
  max-width: 1200px; 
  margin: auto;
  margin-top: 80px;
}

.admin-panel .dark {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 80px;
}

.columns-container {
  display: flex; 
  justify-content: space-between;
 
}

.users-list,
.tickets-list {
  flex: 1;
}

.users-list {
  border-right: 1px solid #000000; 
  padding-right: 20px;
  
}

.dark .users-list {
  border-right: 1px solid rgb(39, 39, 42);
}

.tickets-list {
  padding-left: 20px;
}

.head {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  text-align: center;
}

.dark .head {
  color: white;
}

.user-item,
.ticket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  border-color: black;
}

.dark .user-item,
.dark .ticket-item {
  border-color: rgb(39, 39, 42);
}

.delete-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d9363e;
}


.head5{

  font-weight: bold;
}